# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/

# Uploads
uploads/
backend/uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/